.wrapper {
  height: 520px;
  overflow: hidden;

  .galaxy {
    margin: 0 auto;
    position: relative;
    height: 800px;
    overflow: hidden;
    max-width: 1300px;
    mask-image: radial-gradient(circle, black, transparent 90%);

    &::after {
      transition: all 1s;
      width: 200%;
      left: -50%;
      position: absolute;
      content: "";
      top: 50%;
      border-width: 1px;
      aspect-ratio: 1 / 0.7;
      border-radius: 50%;
      @apply bg-slate-950 border-indigo-900;
    }
    
    &::before {
      content: "";
      position: absolute;
      inset: 0px;
      opacity: 0.4;
      background: radial-gradient(
        circle at bottom center,
        theme('colors.indigo.600'),
        transparent 70%
      );
      transition: opacity 0.4s;
    }

    &:hover::before {
      opacity: 0.8;
      transform: scale(1.1);
      transition: all 0.5s ease-in-out;
      transition-delay: 100ms;
    }
  }

  .stars {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    mask-image: radial-gradient(circle at center bottom, black, transparent);
  }
}